<app-sidebar>
    <div class="container p-5">
      <h1>Edit Profile</h1>
      <form [formGroup]="addFotoForm">
          <div class="row">
            <div class="col-25">
              <label for="user_id">User ID</label>
            </div>
            <div class="col-75">
              <input type="text" id="user_id" name="user_id" placeholder="User ID ..."  formControlName="user_id" required>
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="image">Upload Foto</label>
            </div>
            <div class="col-75">
              <input name="image" id="image" type="file" (change)="onFileSelected($event)" accept="image/*">
            </div>
          </div>
  
            <br>
          <div class="row">
            <button class="submitForm" type="submit" (click)="onAddFoto()"> Simpan Foto </button>
            <br>
            <br>      
          </div>
        </form>
  </div>
  </app-sidebar>